<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Progress</h4>
        <div
          class="progress-bar bg-primary active progress-bar-striped active"
          style="height: 12px"
          [style.width]="getProgress"
          role="progressbar"
        >
          <span class="sr-only">60% Complete</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementator></app-incrementator>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">2</div>
    </div>
  </div>
</div>
